.cabecalho {
    position: fixed;
    width: 100%;
    background-color: #13131f;
    height: 80px;
    border-bottom: 2px solid #8257E6;
    z-index: 9999;
}

.navegacao {
    height: 100%;
}

.navegacao ul {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

.navegacao ul li {
    list-style: none;
}

.links {
    text-decoration: none;
    color: whitesmoke;
    font-size: 2rem;
    font-family: "kanit";
    position: relative;
}

.links::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background-color: #fff;
    transform: scale(0,1);
    transition: transform 0.3s;
}

.links:hover::after{
    transform: scale(1,1);
}

@media screen and (max-width:800px) {
    .links{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:480px) {
    .links{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:380px) {
    .links{
        font-size: 1rem;
    }
}

@media screen and (max-width:300px) {
    .links{
        font-size: 0.8rem;
    }
}