#habilidades {
    background-color: #13131f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tecnologias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.tecnologia {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    border-radius: 25px;
    border: 4px solid #8257E6;
    box-shadow: 0px 7px 20px 0px rgba(130,87,230,0.52);
    transition: 0.4s linear;
}

.tecnologia:hover {
    transform: scale(1.1);
}

.tecnologia img {
    width: 50%;
}

.titulo-habilidades h1{
    font-size: 60px;
    color: whitesmoke;
    font-family: "kanit";
    font-weight: 400;
    text-align: center;
}

.p-tecnologia {
    font-size: 20px;
    font-family: "kanit";
    font-weight: 600;
}

@media screen and (max-width:1150px) {
    #habilidades {
        display: flex;
        flex-direction: column;
    }

    .titulo-habilidades {
        margin-bottom: 40px;
    }
}

@media screen and (max-width:730px) {
    .tecnologia {
        width: 150px;
        height: 150px;
    }

    .titulo-habilidades h1{
        font-size: 40px;
    }
}

@media screen and (max-width:550px) {
    .tecnologia {
        width: 120px;
        height: 120px;
    }

    .tecnologias {
        gap: 20px;
    }

    .p-tecnologia {
        font-size: 17px;
    }

    .titulo-habilidades h1{
        font-size: 40px;
    }
}

@media screen and (max-width:420px) {
    .tecnologia {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width:370px) {
    .tecnologia {
        width: 80px;
        height: 80px;
        border-radius: 10px;
    }

    .p-tecnologia {
        font-size: 14px;
    }
}