.meus-projetos {
    background-color: #13131f;
    padding-top: 100px;
}

.projetos {
    display: flex;
    justify-content: space-around;
}

.site {
    width: 500px;
    background-color: whitesmoke;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    border: 4px solid #8257E6;
    box-shadow: 0px 7px 20px 0px rgba(130,87,230,0.52);
}

.img-site {
    width: 80%;
    margin: 20px 0 20px;
}

.links-projeto a {
    text-decoration: none;
}

.titulo-site {
    font-size: 30px;
    font-family: "kanit";
    font-weight: 400;
}

.link-repositorio , .acessar-projeto {
    font-size: 20px;
    background-color: #8257E6;
    color: whitesmoke;
    font-family: "kanit";
    padding: 6px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}

.link-repositorio {
    margin-right: 20px;
}

.link-repositorio:hover {
    background-color: #2b3137;
}

.acessar-projeto:hover {
    background-color: #4c28a0;
}

.tecnologias-utilizadas {
    width: 3vw;
}

.div-tecnologia {
    background-color: whitesmoke;
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.logos-tecnologias {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.div-tecnologia {
    transition: 0.4s ease-in-out;
}

.div-tecnologia:hover {
    transform: scale(1.1);
}

.h1-projeto {
    font-size: 50px;
    font-family: "kanit";
    color: whitesmoke;
}

.desc-projeto {
    font-size: 30px;
    font-family: "kanit";
    color: whitesmoke;
}

.info-projeto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}

@media screen and (max-width:1110px) {
    .projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logos-tecnologias {
        display: flex;
        justify-content: space-evenly;
    }

    .info-projeto {
        margin-bottom: 50px;
    }

    .tecnologias-utilizadas {
        width: 5vw;
        height: 5vw;
    }

    .div-tecnologia {
        width: 8vw;
        height: 8vw;
    }
}

@media screen and (max-width:650px) {
    .h1-projeto {
        font-size: 40px;
    }

    .desc-projeto {
        font-size: 25px;
    }

    .tecnologias-utilizadas {
        width: 6vw;
        height: 6vw;
    }

    .div-tecnologia {
        width: 9vw;
        height: 9vw;
    }
}

@media screen and (max-width:530px) {
    .site {
        width: 95%;
        margin: 0 auto;
    }

    .h1-projeto {
        font-size: 30px;
    }

    .desc-projeto {
        font-size: 20px;
    }

    .tecnologias-utilizadas {
        width: 7vw;
        height: 7vw;
    }

    .div-tecnologia {
        width: 10vw;
        height: 10vw;
    }
}

@media screen and (max-width:420px) {
    .link-repositorio , .acessar-projeto {
        font-size: 15px;
    }
}

@media screen and (max-width:410px) {
    .h1-projeto {
        font-size: 25px;
    }

    .desc-projeto {
        font-size: 14px;
    }
}

@media screen and (max-width:350px) {
    .link-repositorio , .acessar-projeto {
        font-size: 12px;
    }
}